@model IEnumerable<ClassRegistrar.Models.Class>

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Classes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Classes</title>
</head>
<body>
    <h1>Class Catalog</h1>
    <p>View our full selection of classes below!</p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ClassName)</th>
            <th>@Html.DisplayNameFor(model => model.ClassDate)</th>
            <th>@Html.DisplayNameFor(model => model.ClassDescription)</th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassDate)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassDescription)</td>
        </tr>
    }
    
    </table>
    @Html.ActionLink("View Classes you are currently registered for", "MyClasses")
</body>
</html>
