@model IEnumerable<ClassRegistrar.Models.Class>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                @using (Html.BeginForm("Register", "Default", new { id = item.ClassID }))
                {
                    <hidden id="hdnClassID" name="hdnClassID" value="@item.ClassID"></hidden>
                    <input type="submit" value="Register" class="btn btn-primary" />
                }
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
