@model ClassRegistrar.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    @Html.Label("Student ID: ") @Html.DisplayFor(model => model.StudentID) <br />
    @Html.Label("Name: ") @Html.TextBoxFor(model => model.StudentName) <br />
    @Html.Label("Email: ") @Html.TextBoxFor(model => model.StudentEmail) <br />
    @Html.Label("Username: ") @Html.TextBoxFor(model => model.StudentLogin) <br />
    @Html.Label("Password: ") @Html.TextBoxFor(model => model.StudentPassword) <br />
    <br />
    <p>Are you sure you want to delete this record?</p>

    @using (Html.BeginForm())
    {
        @Html.ActionLink("Cancel", "Index")
        <input type="submit" value="Yes" />
    }



    </body>
</html>
