@model ClassRegistrar.Models.Student

@{
    ViewBag.Title = "Student Details";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Details</title>
</head>
<body>
    <div>
        @Html.Label("Student ID: ") @Html.DisplayFor(model => model.StudentID) <br />
        @Html.Label("Name: ") @Html.DisplayFor(model => model.StudentName) <br />
        @Html.Label("Email: ") @Html.DisplayFor(model => model.StudentEmail) <br />
        @Html.Label("Username: ") @Html.DisplayFor(model => model.StudentLogin) <br />
        @Html.Label("Password: ") @Html.DisplayFor(model => model.StudentPassword) <br />
    </div>
    @Html.ActionLink("Back", "Index", "Students") 
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) 
    @Html.ActionLink("Delete", "Delete", new { id = Model.StudentID })
</body>
</html>
